.deleteButton,
.doneButton,
.inProgressButton,
.editButton {
  fill: black;
  transition: all .2s;
}

.deleteButton:hover,
.doneButton:hover,
.inProgressButton:hover,
.editButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.deleteButton:hover {fill: red;}
.doneButton:hover {fill: green;}
.inProgressButton:hover {fill: goldenrod;}
.editButton:hover {fill: salmon;}