.todoCreate .btn {
  margin: .5rem 0 0 2rem;
}

.todoCreateTitle {
  text-transform: uppercase;
  font-size: 2em;
  padding: 1rem;
  margin: 1rem;
  background-color: $color-status-todo-dark;
  width: max-content;
}

.todoCreateTitleInput,
.todoCreateDescriptionInput,
.todoCreateTagsInput{
  padding: .5rem;
  margin: .5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.inputs .btn{
  align-self: flex-end;
}

.todoCreateDescriptionInput {
  resize: none;
}
