.todoCreate .btn {
  margin: .5rem 0 0 2rem;
}

.todoCreateTitle {
  text-transform: uppercase;
  font-size: 2em;
  padding: 1rem;
  margin: 1rem;
  background-color: $color-status-todo-dark;
  width: max-content;
}

.todoCreateTitleInput,
.todoCreateDescriptionInput,
.todoCreateTagsInput{
  padding: .5rem;
  margin: .5rem;
}

.inputs {
  width: max-content;
}

.inputs * {
  display: block;
  width: 90%;
  margin-right: auto;
}

.todoCreateDescriptionInput {
  resize: none;
}
